.value{
	color:blue;
}
.btn{
	border:1px solid #eee;
	cursor: pointer;
}
.backgroung_img{
	height: 150px;
	background: url("../images/1.png") no-repeat;
}
#loadingmodal{
	background-color: #eeeeee17;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	left: 0;
	z-index: 99999999;
	.ant-spin-spinning {
		position: relative !important;
		top: 40%;
	}
}